body
{
    background-color: #4cc9f0;
    /* background-color: #3a86ff; */
}
a
{
    text-decoration: none;
}

.container
{
    margin-inline: auto;
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.title{
    color: white;
    font-size: 36px;
}

.mainMenu
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btn
{
    background-color: #a7c957;
    border: none;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 4px 8px;
    color: #f9f7f3;
    cursor: pointer;
    font-size: 24px;
    transition: all ease-in-out .3s;

    &:hover{
        color:white;
        background-color: #bde266;
        font-size: 26px;
    }
}